# Ignore virtual env folder#
###################
**/*venv*/**

# Ignore archived version of notebooks and python stuffs #
###################
*.ipynb_checkpoints
*.__pycache__

# Ignore dev folders
###################
.devcontainer
.vscode

# Ignore neo4j folders
###################
neo4j/data/*
neo4j/logs/*
neo4j/import/*
neo4j/plugins/*
!neo4j/.gitkeep
!neo4j/data/.gitkeep
!neo4j/logs/.gitkeep
!neo4j/import/.gitkeep
!neo4j/plugins/.gitkeep
